# folders
.git/
.github/
.vscode/
debug/
node_modules/
src/
deploy/

# configs
.editorconfig
.eslintignore
.eslintrc.yml
.huskyrc.yml
.lintstagedrc.yml
.prettierrc.yml
.prettierrc.yml

# file control
.gitignore
.npmignore

# build
bitbucket-pipelines.yml
tsconfig.json
tsconfig.paths.json
